@charset "utf-8";
/* CSS Document */
p {
	color: black;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif" ;
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: darkcyan;
	padding: 20px;
}


.pozadina{
	background-image: url("slike/pozadina.jpg");
}
.paragraf {color:black; background-color: rgba(255, 255, 255, 0.5)}
.pozadina2{background-color: cadetblue;}

h1, h2, h3 {font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";}

.pozadina3{background-color: midnightblue;}

a:link {
	color: black;
	background-color: lightblue;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}

a:hover{
	background-color: royalblue;
}